*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


.option
{
    display: flex;
    height: 80px;
    width: 100%;
    background: aliceblue;
    justify-content: space-evenly;
    align-content: center;
}

.option div
{
    
    height: 50%;
    width: 20%;
    top: 20%;
    border-radius: 20px;
    background: darkgray;
    text-align: center;

}

/* .Generate{
   
   height: 80px;
   width: 25%;
   outline: black;
   text-align: center;
   
   position: absolute;
   top: 10px;
   left: 250px;
   background-color: aliceblue;
   border-radius: 30px;
   font: 1em sans-serif;

   

} */

.Board{
    position: absolute;
    top: 150px;
    left: 300px;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 60%;
    background: chartreuse;

}
/* .min-path
{
    height: 80px;
   width: 25%;
   outline: black;
   text-align: center;
   
   position: absolute;
   top: 10px;
   left: 700px;
   background-color: aliceblue;
   border-radius: 30px;
   font: 1em sans-serif;


} */
.row{

    display: flex;
    flex-direction: row;
    height: 5%;
    border: 1px solid;
    background: coral;
}
.box{
   
    height:100%; 
    width :5%; 
    border: 1px solid;
    background: yellow;
}
.active{
    background: green;
}
.visited{
    background: pink;
}